@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&display=swap");
::-webkit-scrollbar {
  width: 0;
  
}

body {
  background: #255c6d;
  padding: 0;
  margin: 0;
}
.home_sec1_img,
.row,
.col-sm {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}
.home_sec1 {
  background: url("../media/d2.png") no-repeat;
  background-size: 30vh;
  background-position-y: 0px;
  background-position-x: 80vw;
}

.home_sec1_img {
  padding-top: 10vh;
}
.home_sec1_img > img {
  max-height: 90vh;
  width: auto;
  max-width: 100vw;
}
.home_sec1_txt {
  padding-left: 0;
  margin-left: 0;
}
.home_title {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 70px;
  margin-top: 22%;
  margin-right: 50%;
  line-height: 60px;
}
.home_title > span {
  font-family: "Barlow", sans-serif;
  font-size: 2.5vw;
  line-height: 0px !important;
}
.ahduni {
  font-size: 2vw;
  padding-bottom: 10px;
  padding-left: 2px;
  color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: none;
  color: inherit;
}
.button-div {
  margin-top: 0.5vh;
}
.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.9);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffffff;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

.contribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
  padding-right: 5px;
  color: white;
}
.contribution > span > a:hover {
  color: black !important;
}
.d3 {
  position: absolute;
  top: 40%;
  left: 65%;
}

@keyframes updown {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 1%;
  }
}
.host_con {
  position: absolute;
  color: black;
  background: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  top: 28%;
  right: 0;
  padding-top: 25px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.host {
  padding-bottom: 30px;
}
.host:nth-child(3) {
  padding-bottom: 10px;
}
.host > img {
  max-width: 90px;
}
.host:nth-child(2) > img {
  max-width: 120px;
}

.d3 > img {
  max-width: 150px;
}

@media only screen and (max-width: 600px) {
  .bg-transparent {
    background: #255c6d !important;
  }
  .home_title {
    padding-top: 0vh;
    padding-left: 3vw;
    color: white;
    font-size: 15vw;
    line-height: 7vh;
  }
  .ahduni {
    font-size: 7vw;
    padding-top: 2vh;
    line-height: 3.5vh;
    margin-top: 0 !important;
  }

  .home_sec1_txt > .ahduni {
    padding-left: 3vw;
  }
  .button-div {
    margin-top: 2.5vh;
  }
  .contribution {
    font-size: 13px;
  }
  .host > img {
    max-width: 50px;
  }
  .host:nth-child(2) > img {
    max-width: 60px;
  }
  .host_con {
    top: 55%;
    position: fixed;
    padding-bottom: 1vh;
  }
  .d3 {
    display: none;
  }
  .home_sec1 {
    background-size: 0px;
    height: auto;
    min-height: 100vh;
  }
  html {
    min-height: auto;
  }
  .home_sec1_txt {
    padding-bottom: 15vh;
    padding-left: 2vw;
  }

  .home_title > span {
    font-size: 20px;
  }
}
